@import'../../styles.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

footer {
    background: $color-bg1;
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;

    h4 {
        margin-bottom: 1.2rem;
        color: white;
    }
}

.footer-1 {
    p {
        margin: 0 0 2rem;
    }
}

.permalinks {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin-bottom: 0.7rem;

        a {
            text-decoration: none;
            color: white;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.privacy {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin-bottom: 0.7rem;


        a {
            text-decoration: none;
            color: white;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.footer-socials{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    img{
        width: 30px;
    }
}

.footer-copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid $color-bg2
}

@media screen and (max-width: 1024px) {
    .footer-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px){
    .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer-1 p{
        margin: 1rem auto;
    }

    .footer-socials{
        justify-content: center;
    }

}