@import'../../styles.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav {
    background: transparent;
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 11;

    a {
        color: $color-white;
    }
}

.window-scroll {
    background: $color-primary;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.menu-button {
    display: none;
}

.close-button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 4rem;

    a {
        color: $color-white;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            color: #f75842;
        }
    }
}

@media screen and (max-width: 1024px) {
    .menu-button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: $color-white;
        cursor: pointer;
    }

    .container {
        width: $container-width-md;
    }

    .nav-menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;

        li {
            width: 100%;
            height: 5.8rem;
            animation: anitateNavItems 400ms linear forwards;
            transform-origin: top right;
            opacity: 0;


            &:nth-child(2) {
                animation-delay: 200ms;
            }

            &:nth-child(3) {
                animation-delay: 400ms;
            }

            &:nth-child(4) {
                animation-delay: 600ms;
            }


            a {
                background: $color-primary;
                box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;

                &:hover {
                    background: $color-bg2;
                }
            }
        }
    }

    @keyframes anitateNavItems {
        0% {
            transform: rotateZ(-90deg);
        }

        100% {
            transform: rotateZ(0);
            opacity: 1;
        }

    }

    .expanded {
        display: block;

    }

}

@media screen and (max-width: 600px) {
    .container {
        width: $container-width-sm;
    }

    .nav-menu {
        right: 3%;
    }

}