<div class="container header-container">
    <div class="header-left">
        <h1>Grouw your skillls to andvance your career path</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Pariatur perferendis consectetur nostrum neque?
            Velit est culpa voluptates, tempora deleniti iure
            voluptate, aperiam consequatur
            obcaecati vel veritatis minus inventore neque fugit.
        </p>
        <a href="" class="btn btn-primary">Get Started</a>
    </div>

    <div class="header-right">
        <div class="blub">
        </div>

        <img src="../../assets/img/student-5473769_1280.png" alt="">
    </div>
    


</div>

<div class="background">
</div>

