<section class="categories">
    <div class="container categories-container">

        <div class="categories-left">
            <h1>Categories</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Impedit est non
            </p>
            <a href="#" class="btn">Learn More</a>
        </div>

        <div class="categories-right">

            <article *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="category">
                <span class="category-icon">
                    <img src="../../assets/img/workspaces_bk.png" alt="">
                </span>
                <h5>Blockchain</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quae doloribus,</p>
            </article>

        </div>
    </div>

</section>